.header {
  background-color: #222;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 100%;
  position: fixed;
  color: #eee;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
